{{- define "index" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Home &ndash; CCA Selection System
		</title>
		<link rel="stylesheet" href="/static/style.css" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style>
				.tp-columns {
					display: flex;
					flex-direction: row;
					@media(max-width: 50rem) {
						flex-wrap: wrap;
						gap: 0rem;
					}
					gap: 2rem;
					align-items: stretch;
				}

				.tp-columns div {
					min-width: 18em;
					/* max-width: 40rem; */
					width: 100%;
					margin-left: auto;
					margin-right: auto;
				}
		</style>
	</head>
	<body>
		<header>
			<div class="header-content">
				<div class="header-left">
					<h1><a id="site-title" href="/">CCA Selection System</a></h1>
				</div>
				<div class="header-middle">
				</div>
				<div class="header-right">
					<p>{{- .user.Name }} ({{ .user.Department -}})</p>
				</div>
			</div>
		</header>
		<main>
		<p>
		Okay I haven&rsquo;t written the web page yet.
		</p>
		</main>
	</body>
</html>
{{- end -}}
