{{- define "staff" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Staff Home &ndash; CCA Selection System
		</title>
		<link rel="stylesheet" href="/static/style.css" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="YK Pao School CCA Selection System" />
<style>
input[type=radio] {
	accent-color: #6666ff;
}
input[type=radio].active {
	accent-color: #008800;
}
</style>
	</head>
	<body>
		<div style="font-size: 150%; color: red; font-weight: bold;" class="broken-styling-warning">
			The fact that you see this message means that the CSS styling information for this site is not loading correctly, and usability would be severely impacted. Check your network connection, and if this issue persists, you should contact the system administrator.
		</div>
		<header>
			<div class="header-content">
				<div class="header-left">
					<h1><a id="site-title" href="./">CCA Selections</a></h1>
				</div>
				<div class="header-middle">
					<nav>
						<ul>
							<li>
								<a href="./">Home</a>
							</li>
							<li>
								<a href="./docs/">Docs</a>
							</li>
							<li>
								<a href="./iadocs/">IA</a>
							</li>
							<li>
								<a href="./src/">Source</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header-right">
					<p>{{- .Name }} (Staff)</p>
				</div>
			</div>
		</header>
		<div class="reading-width" id="wip-notice">
			<p>
			This site is still a work in progress and may contain bugs! Please contact <a href="mailto:s22537@stu.ykpaoschool.cn">Runxi Yu</a> for any issues.
			</p>
		</div>
		<div class="reading-width">
			<p><a href="./export/choices" class="btn-normal btn">Export all choices as a spreadsheet</a></p>
			<p><a href="./export/students" class="btn-normal btn">Export student confirmed status as a spreadsheet</a></p>
			<form method="POST" enctype="multipart/form-data" action="/newstudents">
				<label for="studentlist">Expected students list (first row must contain the column headers “Name” and “ID”; IDs must not have their “s” prefix):</label>
				<input title="Add students" type="file" id="studentlist" name="studentlist" accept=".csv" />
				<input type="submit" value="Replace" class="btn btn-normal" />
			</form>
			<form style="margin-top: 2rem;" action="/state" method="POST">
				<table>
					<thead>
						<tr colspan="6">
							<th colspan="6">Year Group Status</th>
						<tr>
							<th scope="col">Year</th>
							<th scope="col">Off</th>
							<th scope="col">View</th>
							<th scope="col">On</th>
							<th scope="col" colspan="2">Schedule On</th>
						</tr>
					</thead>
					<tbody>
						{{- range $k, $v := .States }}
						<tr>
							<th scope="row">{{ $k }}</th>
							<td class="try-to-center">
								<input type="radio" name="yeargroup_{{ $k }}" value="0" {{ if eq $v.S 0 }}checked class="active"{{ end }} />
							</td>
							<td class="try-to-center">
								<input type="radio" name="yeargroup_{{ $k }}" value="1" {{ if eq $v.S 1 }}checked class="active"{{ end }} />
							</td>
							<td class="try-to-center">
								<input type="radio" name="yeargroup_{{ $k }}" value="2" {{ if eq $v.S 2 }}checked class="active"{{ end }} />
							</td>
							<td class="no-right-border">
								<input type="radio" name="yeargroup_{{ $k }}" value="3" {{ if eq $v.S 3 }}checked class="active"{{ end }} />
							</td>
							<td class="tdinput">
								<input type="datetime-local" name="schedule_{{ $k }}" {{ if $v.Sched }}value="{{$v.Sched}}"{{end}} />
							</td>
						</tr>
						{{- end }}
					</tbody>
					<tfoot>
						<tr>
							<td class="th-like" colspan="6">
								<div class="flex-justify">
									<div class="left">
										<span style="color: #008800;">Active</span> / <span style="color: #6666ff;">Selected</span>
									</div>
									<div class="right">
										<button type="submit" class="btn btn-primary">Save Changes</button>
									</div>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</form>
			<table class="table-of-courses" style="margin-top: 2rem;">
				<colgroup>
					<col style="width: 5%;" />
					<col style="width: 5%;" />
					<col style="width: 5%;" />
					<col/>
					<col style="width: 15%;" />
					<col style="width: 15%;" />
					<col style="width: 15%;" />
				</colgroup>
				<thead>
					<tr colspan="7">
						<th colspan="7">Course List</th>
					</tr>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Used</th>
						<th scope="col">Max</th>
						<th scope="col">Name</th>
						<th scope="col">Type</th>
						<th scope="col">Teacher</th>
						<th scope="col">Location</th>
					</tr>
					<tr>
						<th colspan="7" class="tdinput">
							<input type="text" id="searchcourses" placeholder="Search..." />
						</th>
					</tr>
				</thead>
				<tbody>
					{{- range .Groups }}
					<tr><th colspan="7">{{ .Name }}</th></tr>
					{{- range .Courses }}
					<tr class="courseitem" id="course{{.ID}}" data-group="{{.Group}}">
						<th scope="row">
							{{.ID}}
						</th>
						<td>
							<span id="selected{{.ID}}">{{.Selected}}</span>
						</td>
						<td>
							<span id="max{{.ID}}">{{.Max}}</span>
						</td>
						<td>{{.Title}}</td>
						<td id="type{{.ID}}">{{.Type}}</td>
						<td>{{.Teacher}}</td>
						<td>{{.Location}}</td>
					</tr>
					{{- end }}
					{{- end }}
				</tbody>
				<tfoot>
					<tr>
						<td class="th-like" colspan="7">
							{{- if eq .StatesOr 0 }}
							<form method="POST" enctype="multipart/form-data" action="/newcourses">
								<div class="flex-justify">
									<div class="left">
									</div>
									<div class="right">
										<input title="Upload course list (CSV)" type="file" id="coursecsv" name="coursecsv" accept=".csv" />
										<input type="submit" value="Delete all choices and replace courses" class="btn btn-danger" />
									</div>
								</div>
							</form>
							{{- else }}
							Disable student access for all year groups to replace course list.
							{{- end }}
						</td>
					</tr>
				</tfoot>
			</table>
			<table class="table-of-students" style="margin-top: 2rem;">
				<thead>
					<tr colspan="4">
						<th colspan="4">Students</th>
					</tr>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Year</th>
						<th scope="col">Status</th>
					</tr>
					<tr>
						<th colspan="4" class="tdinput">
							<input type="text" id="searchstudents" placeholder="Search..." />
						</th>
					</tr>
				</thead>
				<tbody>
					{{- range .Students }}
					<tr>
						<td>{{.Name}}</td>
						<td>{{.Email}}</td>
						<td>{{.Department}}</td>
						<td>{{.Status}}</td>
					{{- end }}
				</tbody>
				<tfoot>
					<tr>
						<td class="th-like" colspan="7">
							<form method="POST" enctype="multipart/form-data" action="/newcourses">
								<div class="flex-justify">
									<div class="left">
										Upload student list (must contain "Name" and "ID" columns, ID must be of form 12345)
									</div>
									<div class="right">
										<input title="Upload student list (CSV)" type="file" id="coursecsv" name="coursecsv" accept=".csv" />
										<input type="submit" value="Replace" class="btn btn-danger" />
									</div>
								</div>
							</form>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const search = document.getElementById("searchcourses")
				search.addEventListener("input", () => {
					const s = search.value.toLowerCase().trim().normalize('NFD')
					document.querySelectorAll(".courseitem").forEach(c => {
						c.hidden = (!c.textContent.toLowerCase().normalize('NFD').includes(s)) && (s.length > 0)
					})
				})
			})
			document.addEventListener("DOMContentLoaded", () => {
				const search = document.getElementById("searchstudents")
				search.addEventListener("input", () => {
					const s = search.value.toLowerCase().trim().normalize('NFD')
					document.querySelectorAll(".courseitem").forEach(c => {
						c.hidden = (!c.textContent.toLowerCase().normalize('NFD').includes(s)) && (s.length > 0)
					})
				})
			})
		</script>
	</body>
</html>
{{- end -}}
